
@{
    ViewBag.Title = "Profile";
}

<profile-info inline-template picpath="@ViewBag.ProfilePicturePath" 
              name="@ViewBag.user.Name" username="@ViewBag.user.UserName" 
              email="@ViewBag.user.Email" phonenumber="@ViewBag.user.PhoneNumber"
              address="@ViewBag.user.Address" dateofbirth="@ViewBag.user.DateofBirth">
    <div class="row">
        <div class="col-md-5">
            <div>
                <img v-if="picturePath" :src="'/' + picturePath" height="260" width="260" class="rounded-circle" data-original-title="Usuario">
                <img v-if="!picturePath" alt="" height="260" width="260" title="" class="rounded-circle"
                     src="https://www.bootdey.com/img/Content/avatar/avatar7.png"
                     data-original-title="Usuario">

                <h1>Hello {{Name}}</h1>
                <p>User Name : {{UserName}}</p>
                <p> Email : {{Email}}</p>
                <p>Phone Number : {{PhoneNumber}}</p>
                <p>Address : {{Address}}</p>
                <p>Date of Birth : {{DateofBirth}}</p>
                <form method="post" asp-controller="Profile" asp-action="Update">
                    <input type='submit' value="Update Profile" />
                </form>
            </div>
        </div>
    </div>
</profile-info>
