@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject UserContext _context
@using System.Linq;

@{
    ApplicationUser user = await UserManager.GetUserAsync(User);
    var picture = _context.profilePictures.Where(c => c.UserProfile.Id == user.Id).FirstOrDefault();
}


@{
    ViewBag.Title = "Profile";
}

<div class="row">
    <div class="col-md-5">

        <div>
            @{
                if (picture != null)
                {
                    <img src="@picture.ProfilePicturePath" height="320" width="320">
                }
            }
            <h1>Hello @user.Name</h1>
            <p>User Name : @user.UserName</p>
            <p> Email : @user.Email</p>
            <p>Phone Number : @user.PhoneNumber</p>
            <p>Address : @user.Address</p>
            <p>Date of Birth : @user.DateofBirth</p>
            <form method="post" asp-controller="Profile" asp-action="Update">
                <input type='submit' value="Update Profile" />
            </form>
        </div>

        @*<form method="post" enctype="multipart/form-data" asp-controller="Profile" asp-action="Create">
            <div class="form-group">
                <div class="col-md-10">
                    <p>Upload profile picture</p>
                    <input class="form-control" name="file" type="file" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input class="btn btn-success" type="submit" value="Upload" />
                </div>
            </div>
        </form>*@
    </div>
</div>

