<profile-info inline-template picpath="@ViewBag.ProfilePicturePath"
              name="@ViewBag.user.Name" username="@ViewBag.user.UserName"
              email="@ViewBag.user.Email" phonenumber="@ViewBag.user.PhoneNumber"
              address="@ViewBag.user.Address" dateofbirth="@ViewBag.user.DateofBirth.ToString("yyyy-MM-dd")">
    <form method="post" enctype="multipart/form-data" asp-controller="Profile" asp-action="Index">
        <div class="container">
            <div class="panel-body inf-content">
                <div class="row">

                    <div class="col-md-4" style="margin-top:20px">
                        <img v-if="picturePath" :src="'/' + picturePath" height="260" width="260" class="rounded-circle" data-original-title="Usuario">
                        <img v-if="!picturePath" alt="" height="260" width="260" title="" class="rounded-circle"
                             :src="dpPlaceholder"
                             data-original-title="Usuario">

                        <div class="card" style="margin-top:20px">
                            <div class="card-header">
                                Intro
                                <a class="btn btn-sm justify-content-end" data-toggle="modal" data-target="#intro-modal">
                                    <i class="fas fa-pen fa-pen-indicateur"></i>
                                </a>
                                <textarea v-if="Intro" style="overflow-y: scroll; resize: none" v-model="Intro" class="form-control" readonly id="" name="Intro" rows="8"></textarea>
                            </div>
                        </div>

                        <!--Intro Modal -->
                        <div class="modal fade" data-keyboard="false" data-backdrop="static" id="intro-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Add Education</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <label for="exampleFormControlTextarea1">Edit Intro</label>
                                        <textarea class="form-control" id="" name="Intro" rows="5" v-model="Intro"></textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-info btn-block close" data-dismiss="modal">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 card" style="background-color:#FFF">
                        <div class="card-header">
                            Update Profile
                        </div>
                        <div class="table-responsive">
                            @*<form method="post" enctype="multipart/form-data" asp-controller="Profile" asp-action="Index">*@
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>
                                            <strong>
                                                <span class="glyphicon glyphicon-user text-primary"></span>
                                                Name
                                            </strong>
                                        </td>
                                        <td class="text-primary">
                                            <p id='name'>
                                                <input type='text' size="40" name="Name" :value=Name />
                                            </p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <strong>
                                                <span class="glyphicon glyphicon-bookmark text-primary"></span>
                                                Username
                                            </strong>
                                        </td>
                                        <td class="text-primary">
                                            <p id='email'>
                                                <input type='text' size="40" name="UserName" :value="UserName" />
                                            </p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <strong>
                                                <span class="glyphicon glyphicon-envelope text-primary"></span>
                                                Email
                                            </strong>
                                        </td>
                                        <td class="text-primary">
                                            <p id='email'>
                                                <input type='text' size="40" name="Email" :value="Email" />
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>
                                                <span class="glyphicon glyphicon-calendar text-primary"></span>
                                                Phone No
                                            </strong>
                                        </td>
                                        <td class="text-primary">
                                            <p id='phone-number'>
                                                <input type='number' size="40" name="PhoneNumber" :value="PhoneNumber" />
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>
                                                <span class="glyphicon glyphicon-calendar text-primary"></span>
                                                Adderss
                                            </strong>
                                        </td>
                                        <td class="text-primary">
                                            <p id='present-address'>
                                                <input type='text' size="40" name="Address" :value="Address" />
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>
                                                <span class="glyphicon glyphicon-eye-open text-primary"></span>
                                                Date of Birth
                                            </strong>
                                        </td>
                                        <td class="text-primary">
                                            <p id='date-of-birth'>
                                                <input type='date' size="40" name="DateofBirth" :value="DateofBirth" />
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>
                                                <span class="glyphicon glyphicon-eye-open text-primary"></span>
                                                Password
                                            </strong>
                                        </td>
                                        <td class="text-primary">
                                            <p id='password'>
                                                <input type='password' size="40" name="Password" required />
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <p>Upload profile picture</p>
                                    <input class="form-control" name="File" type="file" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <input class="btn btn-success" type="submit" value="Update" />
                                </div>
                            </div>

                        </div>
                    </div>

                    <!--Education-->
                    <div class="col-md-10">
                        <div class="card shadow-lg" style="margin-top:20px">
                            <div class="row">
                                <div class="col-md-8" style="margin-left:10px">
                                    <p class="lead"><b>Education</b></p>
                                </div>

                                <div class="col-md-2">
                                    <a class="btn justify-content-end" v-on:click="addEducationClicked" style="float:right" data-toggle="modal" data-target="#education-modal">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div v-if="Educations.length" class="card shadow-lg" style="margin-top:5px">
                            <div v-for="edu in Educations">
                                <div class="col-md-10">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <h4>{{edu.Institution}}</h4>
                                        </div>
                                        <div class="col-md-2">
                                            <a v-on:click="getEdu(edu)" class="btn" style="float:right" data-toggle="modal" data-target="#education-modal">
                                                <i class="fas fa-pen fa-pen-indicateur"></i>
                                            </a>
                                            <a class="btn" v-on:click="deleteEducation(edu)">
                                                <i class="far fa-trash-alt"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <p class="lead" style="color:midnightblue; font-size:medium">
                                        <b>{{edu.Degree}}</b>
                                        <span v-if="edu.Degree && (edu.StartDate || edu.EndDate)"> | </span>
                                        <span v-if="edu.StartDate">{{edu.StartDate}} -</span>
                                        {{edu.EndDate}}
                                    </p>

                                    <p class="text-secondary">
                                        {{edu.FieldOfStudy}}
                                        <span v-if="edu.FieldOfStudy && edu.Grade"> | </span>
                                        {{edu.Grade}}
                                    </p>
                                </div>
                                <hr class="my-4">
                            </div>
                        </div>
                    </div>

                    <!--Work Experience-->
                    <div class="col-md-10">
                        <div class="card shadow-lg" style="margin-top:20px">
                            <div class="row">
                                <div class="col-md-8" style="margin-left:10px">
                                    <p class="lead"><b>Work Experience</b></p>
                                </div>
                                <div class="col-md-2">
                                    <a class="btn justify-content-end" v-on:click="addExperienceClicked" style="float:right" data-toggle="modal" data-target="#experience-modal">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div v-if="Experiences.length" class="card shadow-lg" style="margin-top:5px">
                            <div v-for="exp in Experiences">
                                <div class="col-md-10">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <h4>{{exp.Title}}</h4>
                                        </div>
                                        <div class="col-md-2">
                                            <a v-on:click="getExperiance(exp)" class="btn justify-content-end" style="float:right" data-toggle="modal" data-target="#experience-modal">
                                                <i class="fas fa-pen fa-pen-indicateur"></i>
                                            </a>
                                            <a class="btn justify-content-end" v-on:click="deleteExperience(exp)">
                                                <i class="far fa-trash-alt"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <p class="lead" style="color:midnightblue; font-size:medium">
                                        <b>{{exp.Company}}</b>
                                        <span v-if="exp.EmploymentType && exp.Company"> | {{exp.EmploymentType}} </span>
                                        <span v-else>{{exp.EmploymentType}}</span>
                                    </p>

                                    <p class="text-secondary">
                                        {{exp.StartDate}}
                                        <span v-if="exp.StartDate && exp.EndDate"> | {{exp.EndDate}} </span>
                                        <span v-else>{{exp.EndDate}}</span>
                                    </p>
                                    <p class="text-primary">
                                        {{exp.Location}}
                                    </p>
                                </div>
                                <hr class="my-4">
                            </div>
                        </div>
                    </div>

                    <!--Skill-->
                    <div class="col-md-10">
                        <div class="card shadow-lg" style="margin-top:20px">
                            <div class="row">
                                <div class="col-md-8" style="margin-left:10px">
                                    <p class="lead"><b>Skill</b></p>
                                </div>
                                <div class="col-md-2">
                                    <a class="btn justify-content-end" v-on:click="" style="float:right" data-toggle="modal" data-target="#skill-modal">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div v-if="Skills.length" style="margin-top:5px">
                                <div v-for="skill in Skills">
                                    <h4>
                                        <span class="badge badge-pill badge-info justify-content-center">
                                            {{skill}}
                                            <a class="btn btn justify-content-end" v-on:click="deleteSkill(skill)" style="float:right">
                                                <i class="far fa-times-circle"></i>
                                            </a>
                                        </span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Interest-->
                    <div class="col-md-10">
                        <div class="card shadow-lg" style="margin-top:20px">
                            <div class="row">
                                <div class="col-md-8" style="margin-left:10px">
                                    <p class="lead"><b>Interest</b></p>
                                </div>
                                <div class="col-md-2">
                                    <a class="btn justify-content-end" v-on:click="addInterestClicked" style="float:right" data-toggle="modal" data-target="#interest-modal">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div v-if="Interests.length" class="card shadow-lg" style="margin-top:5px">
                            <div v-for="interest in Interests">
                                <div class="col-md-10">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <h4>{{interest.Title}}</h4>
                                        </div>
                                        <div class="col-md-2">
                                            <a v-on:click="getInterest(interest)" class="btn justify-content-end" style="float:right" data-toggle="modal" data-target="#interest-modal">
                                                <i class="fas fa-pen fa-pen-indicateur"></i>
                                            </a>
                                            <a class="btn justify-content-end" v-on:click="deleteInterest(interest)">
                                                <i class="far fa-trash-alt"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <p class="lead" style="color:midnightblue; font-size:medium">
                                        <b>{{interest.Description}}</b>
                                    </p>
                                </div>
                                <hr class="my-4">
                            </div>
                        </div>
                    </div>


                    <!--Education Modal -->
                    <div class="modal fade" data-keyboard="false" data-backdrop="static" id="education-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Add Education</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <label class="text-secondary"> Institution </label>
                                    <br />
                                    <input class="form-control" type="text" name="Institution" v-model="Education.Institution" placeholder="" />
                                    <br />
                                    <label class="text-secondary"> Degree </label>
                                    <br />
                                    <input class="form-control" type="text" name="Degree" v-model="Education.Degree" placeholder="" />
                                    <br />
                                    <label class="text-secondary"> Field of Study </label>
                                    <input class="form-control" type="text" name="FieldOfStudy" v-model="Education.FieldOfStudy" placeholder="" />
                                    <br />
                                    <label class="text-secondary"> Start Date </label>
                                    <input class="form-control" type="date" name="StartDate" v-model="Education.StartDate" placeholder="" />
                                    <br />
                                    <label class="text-secondary"> End Date (or expected) </label>
                                    <input class="form-control" type="date" name="EndDate" v-model="Education.EndDate" placeholder="" />
                                    <br />
                                    <label class="text-secondary"> Grade </label>
                                    <input class="form-control" type="text" name="Grade" v-model="Education.Grade" placeholder="" />
                                    <br />
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-info btn-block close" v-on:click="addEducation" v-if="!forEducationUpdate" :disabled="!Education.Institution" data-dismiss="modal">Add</button>
                                    <button class="btn btn-info btn-block close" v-if="forEducationUpdate" data-dismiss="modal">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Work Experience Modal -->
                    <div class="modal fade" data-keyboard="false" data-backdrop="static" id="experience-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Add Experience</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <label class="text-secondary"> Title </label>
                                    <br />
                                    <input class="form-control" type="text" name="Title" v-model="Experience.Title" placeholder="" />
                                    <br />
                                    <label class="text-secondary"> Employment Type </label>
                                    <br />
                                    <input class="form-control" type="text" name="EmploymentType" v-model="Experience.EmploymentType" placeholder="" />
                                    <br />
                                    <label class="text-secondary"> Company </label>
                                    <input class="form-control" type="text" name="Company" v-model="Experience.Company" placeholder="" />
                                    <br />
                                    <label class="text-secondary"> Location </label>
                                    <input class="form-control" type="text" name="Location" v-model="Experience.Location" placeholder="" />
                                    <br />
                                    <label class="text-secondary"> Start Date </label>
                                    <input class="form-control" type="date" name="StartDate" v-model="Experience.StartDate" placeholder="" />
                                    <br />
                                    <label class="text-secondary"> End Date (or expected) </label>
                                    <input class="form-control" type="date" name="EndDate" v-model="Experience.EndDate" placeholder="" />
                                    <br />
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-info btn-block close" v-on:click="addExperience" v-if="!forExperenceUpdate" :disabled="!Experience.Title" data-dismiss="modal">Add</button>
                                    <button class="btn btn-info btn-block close" v-if="forExperenceUpdate" data-dismiss="modal">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Skill Modal-->
                    <div class="modal fade" data-keyboard="false" data-backdrop="static" id="skill-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Add Skill</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <input class="form-control" type="text" name="Skill" v-model="Skill" placeholder="" />
                                    <br />
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-info btn-block close" v-on:click="addSkill" data-dismiss="modal">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Interest Modal-->
                    <div class="modal fade" data-keyboard="false" data-backdrop="static" id="interest-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Add Interest</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <label class="text-secondary"> Title </label>
                                    <br />
                                    <input class="form-control" type="text" name="Title" v-model="Interest.Title" placeholder="" />
                                    <br />
                                    <label class="text-secondary"> Description </label>
                                    <br />
                                    <textarea class="form-control" id="" name="Description" rows="5" v-model="Interest.Description"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-info btn-block close" v-on:click="addInterest" v-if="!forInterestUpdate" :disabled="!Interest.Title" data-dismiss="modal">Add</button>
                                    <button class="btn btn-info btn-block close" v-if="forInterestUpdate" data-dismiss="modal">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
</profile-info>
